langchain_experimental
langchain_chroma==0.2.1
chromadb==0.6.3
langchainhub
pypdf
fastapi==0.115.8
pydantic==2.10.6
langchain==0.3.17
langchain-community==0.3.16
langchain-google-genai==2.0.9
python-dotenv==1.0.1
typing-extensions==4.12.2
sentence-transformers==2.2.2
streamlit==1.14.1
altair==4.2.2
